{
    "singleQuote": false,
    "bracketSpacing": true,
    "tabWidth": 4,
    "trailingComma": "es5",
    "semi": true,
    "endOfLine": "lf",
    "overrides": [
        {
            "files": "*.md",
            "options": {
                "printWidth": -1,
                "proseWrap": "preserve"
            }
        }
    ]
}
