<div class="text-left dark:text-neutral-200">
    <div class="text-2xl font-semibold text-neutral-900 dark:text-neutral-100">
        Welcome back
    </div>
    <div class="gap-x-2 flex mt-2">
        <span>Don't have an account?</span>
        <a [routerLink]="['/register']" class="underline">Sign up</a>
    </div>

    <form
        [formGroup]="loginForm"
        class="mt-10 max-w-[500px]"
        (ngSubmit)="onSubmit()"
    >
        <div class="input-container">
            <label for="email-username">Email or Username*</label>
            <input
                id="email-username"
                name="email-username"
                type="text"
                placeholder="username@domain.xyz"
                formControlName="emailOrUsername"
            />
        </div>
        <div class="input-container">
            <label for="password">Password*</label>
            <input
                id="password"
                name="password"
                type="password"
                placeholder="********"
                formControlName="password"
            />
            <div>
                <span class="text-sm text-gray-600 leading-tight">
                    Do not share your password with anyone else. If you suspect
                    your account has been compromised.
                </span>
            </div>
        </div>

        <button
            [disabled]="!loginForm.valid || fetchLoading()"
            class="flex justify-center text-center items-center disabled:opacity-50 w-full py-2.5 dark:bg-zinc-100 dark:text-black bg-neutral-900 rounded-lg mt-10 text-white gap-x-3 md:cursor-pointer hover:opacity-95 hover:shadow-sm transition-opacity"
        >
            <span class="text-lg">Continue</span>

            @if (!fetchLoading()) {
                <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="24"
                    height="24"
                    viewBox="0 0 24 24"
                    fill="none"
                    stroke="currentColor"
                    stroke-width="2"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                >
                    <path d="m9 18 6-6-6-6" />
                </svg>
            } @else {
                <svg
                    version="1.1"
                    xmlns="http://www.w3.org/2000/svg"
                    xmlns:xlink="http://www.w3.org/1999/xlink"
                    width="32"
                    class="animate-spin fill-white dark:fill-zinc-800"
                    height="32"
                    viewBox="0 0 100 100"
                    enable-background="new 0 0 100 100"
                    xml:space="preserve"
                >
                    <g id="Download_x5F_25_x25_"></g>
                    <g id="Download_x5F_50_x25_"></g>
                    <g id="Download_x5F_75_x25_"></g>
                    <g id="Download_x5F_100_x25_"></g>
                    <g id="Upload"></g>
                    <g id="Next"></g>
                    <g id="Last"></g>
                    <g id="OK"></g>
                    <g id="Fail"></g>
                    <g id="Add"></g>
                    <g id="Spinner_x5F_0_x25_"></g>
                    <g id="Spinner_x5F_25_x25_"></g>
                    <g id="Spinner_x5F_50_x25_"></g>
                    <g id="Spinner_x5F_75_x25_">
                        <g>
                            <path
                                fill="none"
                                stroke="#fff"
                                stroke-width="4"
                                stroke-linecap="round"
                                stroke-linejoin="round"
                                stroke-miterlimit="10"
                                d="
			M50.915,26.824C63.385,27.208,73.375,37.437,73.375,50c0,12.806-10.381,23.188-23.188,23.188c-11.303,0-20.717-8.087-22.771-18.79
			c-0.154-0.804-0.262-1.566-0.331-2.397"
                            />
                            <g>
                                <ellipse
                                    transform="matrix(0.9962 -0.0867 0.0867 0.9962 -3.713 2.567)"
                                    cx="27.71"
                                    cy="44.049"
                                    rx="1.959"
                                    ry="1.959"
                                />
                                <ellipse
                                    transform="matrix(0.9962 -0.0867 0.0867 0.9962 -3.079 2.8158)"
                                    cx="30.892"
                                    cy="36.872"
                                    rx="1.959"
                                    ry="1.959"
                                />
                                <ellipse
                                    transform="matrix(0.9962 -0.0867 0.0867 0.9962 -2.567 3.266)"
                                    cx="36.334"
                                    cy="31.199"
                                    rx="1.959"
                                    ry="1.959"
                                />
                                <ellipse
                                    transform="matrix(0.9962 -0.0867 0.0867 0.9962 -2.2318 3.8617)"
                                    cx="43.363"
                                    cy="27.636"
                                    rx="1.959"
                                    ry="1.959"
                                />
                            </g>
                        </g>
                    </g>
                    <g id="Brightest_x5F_25_x25_"></g>
                    <g id="Brightest_x5F_50_x25_"></g>
                    <g id="Brightest_x5F_75_x25_"></g>
                    <g id="Brightest_x5F_100_x25_"></g>
                    <g id="Reload"></g>
                    <g id="Forbidden"></g>
                    <g id="Clock"></g>
                    <g id="Compass"></g>
                    <g id="World"></g>
                    <g id="Speed"></g>
                    <g id="Microphone"></g>
                    <g id="Options"></g>
                    <g id="Chronometer"></g>
                    <g id="Lock"></g>
                    <g id="User"></g>
                    <g id="Position"></g>
                    <g id="No_x5F_Signal"></g>
                    <g id="Low_x5F_Signal"></g>
                    <g id="Mid_x5F_Signal"></g>
                    <g id="High_x5F_Signal"></g>
                    <g id="Options_1_"></g>
                    <g id="Flash"></g>
                    <g id="No_x5F_Signal_x5F_02"></g>
                    <g id="Low_x5F_Signal_x5F_02"></g>
                    <g id="Mid_x5F_Signal_x5F_02"></g>
                    <g id="High_x5F_Signal_x5F_02"></g>
                    <g id="Favorite"></g>
                    <g id="Search"></g>
                    <g id="Stats_x5F_01"></g>
                    <g id="Stats_x5F_02"></g>
                    <g id="Turn_x5F_On_x5F_Off"></g>
                    <g id="Full_x5F_Height"></g>
                    <g id="Full_x5F_Width"></g>
                    <g id="Full_x5F_Screen"></g>
                    <g id="Compress_x5F_Screen"></g>
                    <g id="Chat"></g>
                    <g id="Bluetooth"></g>
                    <g id="Share_x5F_iOS"></g>
                    <g id="Share_x5F_Android"></g>
                    <g id="Love__x2F__Favorite"></g>
                    <g id="Hamburguer"></g>
                    <g id="Flying"></g>
                    <g id="Take_x5F_Off"></g>
                    <g id="Land"></g>
                    <g id="City"></g>
                    <g id="Nature"></g>
                    <g id="Pointer"></g>
                    <g id="Prize"></g>
                    <g id="Extract"></g>
                    <g id="Play"></g>
                    <g id="Pause"></g>
                    <g id="Stop"></g>
                    <g id="Forward"></g>
                    <g id="Reverse"></g>
                    <g id="Next_1_"></g>
                    <g id="Last_1_"></g>
                    <g id="Empty_x5F_Basket"></g>
                    <g id="Add_x5F_Basket"></g>
                    <g id="Delete_x5F_Basket"></g>
                    <g id="Error_x5F_Basket"></g>
                    <g id="OK_x5F_Basket"></g>
                </svg>
            }
        </button>
    </form>

    <div class="flex gap-x-3 items-center">
        <div class="border-neutral-300 border-t my-10 w-full"></div>
        <div class="text-nowrap text-neutral-400">or continue with sso</div>
        <div class="border-neutral-300 border-t my-10 w-full"></div>
    </div>

    <div>
        <button
            class="flex justify-center text-center items-center w-full py-2.5 border border-neutral-400 text-neutral-900 rounded-lg gap-x-3 md:cursor-pointer hover:opacity-95 hover:shadow-sm transition-opacity"
        >
            <svg
                class="size-5"
                viewBox="-0.5 0 48 48"
                version="1.1"
                xmlns="http://www.w3.org/2000/svg"
                xmlns:xlink="http://www.w3.org/1999/xlink"
            >
                <title>Google-color</title>
                <desc>Created with Sketch.</desc>
                <defs></defs>
                <g
                    id="Icons"
                    stroke="none"
                    stroke-width="1"
                    fill="none"
                    fill-rule="evenodd"
                >
                    <g
                        id="Color-"
                        transform="translate(-401.000000, -860.000000)"
                    >
                        <g
                            id="Google"
                            transform="translate(401.000000, 860.000000)"
                        >
                            <path
                                d="M9.82727273,24 C9.82727273,22.4757333 10.0804318,21.0144 10.5322727,19.6437333 L2.62345455,13.6042667 C1.08206818,16.7338667 0.213636364,20.2602667 0.213636364,24 C0.213636364,27.7365333 1.081,31.2608 2.62025,34.3882667 L10.5247955,28.3370667 C10.0772273,26.9728 9.82727273,25.5168 9.82727273,24"
                                id="Fill-1"
                                fill="#FBBC05"
                            ></path>
                            <path
                                d="M23.7136364,10.1333333 C27.025,10.1333333 30.0159091,11.3066667 32.3659091,13.2266667 L39.2022727,6.4 C35.0363636,2.77333333 29.6954545,0.533333333 23.7136364,0.533333333 C14.4268636,0.533333333 6.44540909,5.84426667 2.62345455,13.6042667 L10.5322727,19.6437333 C12.3545909,14.112 17.5491591,10.1333333 23.7136364,10.1333333"
                                id="Fill-2"
                                fill="#EB4335"
                            ></path>
                            <path
                                d="M23.7136364,37.8666667 C17.5491591,37.8666667 12.3545909,33.888 10.5322727,28.3562667 L2.62345455,34.3946667 C6.44540909,42.1557333 14.4268636,47.4666667 23.7136364,47.4666667 C29.4455,47.4666667 34.9177955,45.4314667 39.0249545,41.6181333 L31.5177727,35.8144 C29.3995682,37.1488 26.7323182,37.8666667 23.7136364,37.8666667"
                                id="Fill-3"
                                fill="#34A853"
                            ></path>
                            <path
                                d="M46.1454545,24 C46.1454545,22.6133333 45.9318182,21.12 45.6113636,19.7333333 L23.7136364,19.7333333 L23.7136364,28.8 L36.3181818,28.8 C35.6879545,31.8912 33.9724545,34.2677333 31.5177727,35.8144 L39.0249545,41.6181333 C43.3393409,37.6138667 46.1454545,31.6490667 46.1454545,24"
                                id="Fill-4"
                                fill="#4285F4"
                            ></path>
                        </g>
                    </g>
                </g>
            </svg>
            <span class="text-lg dark:text-neutral-100"
                >Continue with google</span
            >
        </button>
    </div>
</div>
