<style>
    .loader {
        width: 50px;
        aspect-ratio: 1.154;
        position: relative;
        background: conic-gradient(
            from 120deg at 50% 64%,
            #0000,
            #1d1c1c 1deg 120deg,
            #0000 121deg
        );
        animation: l27-0 1.5s infinite cubic-bezier(0.3, 1, 0, 1);
    }
    .loader:before,
    .loader:after {
        content: "";
        position: absolute;
        inset: 0;
        background: inherit;
        transform-origin: 50% 66%;
        animation: l27-1 1.5s infinite;
    }
    .loader:after {
        --s: -1;
    }

    @keyframes l27-0 {
        0%,
        30% {
            transform: rotate(0);
        }
        70% {
            transform: rotate(120deg);
        }
        70.01%,
        100% {
            transform: rotate(360deg);
        }
    }
    @keyframes l27-1 {
        0% {
            transform: rotate(calc(var(--s, 1) * 120deg)) translate(0);
        }
        30%,
        70% {
            transform: rotate(calc(var(--s, 1) * 120deg))
                translate(calc(var(--s, 1) * -5px), 10px);
        }
        100% {
            transform: rotate(calc(var(--s, 1) * 120deg)) translate(0);
        }
    }
</style>

<div
    class="bg-white rounded-xl drop-shadow-xl md:w-[90vw] md:h-[90vh] w-screen h-screen md:flex overflow-hidden"
>
    <div class="w-3/12 hidden md:block h-full relative">
        <div
            class="z-5 absolute inset-0 py-2 flex flex-col justify-between text-left"
        >
            <div class="text-white font-medium px-5 py-2">
                <span>Stark Secure Network</span>
            </div>
            <div class="px-5 py-2">
                <div
                    class="text-white font-semibold text-2xl"
                    style="text-wrap: balance"
                >
                    "Simple all the tools that my team and I need"
                </div>
                <div class="mt-3 text-neutral-100 text-sm font-medium">
                    <div>Karen Yue</div>
                    <div class="text-neutral-300 text-xs">
                        Director of Digital Marketing Technology
                    </div>
                </div>
            </div>
        </div>
        <span
            class="absolute inset-x-0 bottom-0 h-[50%] bg-gradient-to-b from-0% to-black/40 z-3"
        ></span>
        <img
            class="h-full object-cover scale-x-[-1] w-full"
            src="/image_copped_1.png"
            alt="bg-image"
        />
    </div>
    <div
        class="md:w-9/12 w-full md:p-0 p-4 h-full flex justify-center items-center"
    >
        @if (fetchLoading()) {
            <div class="loader"></div>
        } @else {
            @if (!!user()) {
                <app-home />
            } @else {
                <router-outlet />
            }
        }
    </div>
</div>
